body {
    background: pink;
    color: red;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: 'Kirang Haerang', cursive;
    font-size: 100px;
}

@keyframes bounce{
    0%{
       transform: translateY(-100px);
    }
    50%{
        transform: translateY(600px);
    }
    80%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(180px);
    }
}

.text{
    transform: translateY(180px);
    animation: bounce;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-direction: normal;

}
